.populares {
    padding: 3rem 0;
}

.populares__conteudo {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.populares__card {
    background: #fdfdfd;
    display: grid;
    grid-template-areas:
            "card-imagem"
            "card-corpo";
    grid-template-columns: 100%;
}

.populares__card___imagem {
    grid-area: card-imagem;
    height: 100%;
    width: 100%;
}

.populares__card___corpo {
    display: grid;
    grid-area: card-corpo;
    grid-row-gap: .5rem;
    grid-template-areas:
            "card-cabecalho"
            "card-conteudo";
    grid-template-rows: 50px auto;
    padding: .75rem;
}

.populares__card___titulo {
    font-size: 1.5rem;
    color: #333333;
}

.populares__card___data {
    font-size: .9rem;
    color: #808080;
}

.populares__card___descricao {
    color: #333333;
    text-align: justify;
    line-height: 1.5;
    margin: 1rem 0;
}

.populares__titulo {
    font-weight: 500;
}

.populares__icone {
    margin-right: .25rem;
}

.populares__cabecalho {
    display: flex;
    border-bottom: 1px solid #dcdcdc;
    justify-content: space-between;
}

.populares__botao {
    background: transparent;
    border: none;
    color: #333333;
}
