@media screen and (min-width: 0) {
    .menu__link {
        font-size: .85rem;
    }

    .destaques__principal, .destaques__categorias {
        grid-column: 1/5;
    }

   /* .destaques__secundario:nth-child(n+2):nth-child(-n+5) {
        display: none;
        grid-column: none;
        grid-row: none;
    }*/

    .destaques__secundario:nth-child(2) {
        display: none;
        grid-column: none;
        grid-row: none;
    }

    .destaques__secundario:nth-child(3) {
        display: none;
        grid-column: none;
        grid-row: none;
    }
    .destaques__secundario:nth-child(4) {
        display: none;
        grid-column: none;
        grid-row: none;
    }
    .destaques__secundario:nth-child(5) {
        display: none;
        grid-column: none;
        grid-row: none;
    }

    .populares__conteudo {
        flex-direction: column;
    }

    .populares__card {
        grid-template-rows: 150px auto;
        width: 100%;
        margin-bottom: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .menu__link {
        font-size: 1.2rem;
    }

    .destaques__principal {
        grid-column: 1/4;
    }

    .destaques__secundario:nth-child(2) {
        display: flex;
        grid-column: 4/4 ;
        grid-row: 1/1;
    }

    .destaques__secundario:nth-child(3) {
        display: flex;
        grid-column: 4/4;
        grid-row: 2/2;
    }
    .destaques__secundario:nth-child(4) {
        display: flex;
        grid-column: 4/4;
        grid-row: 3/3;
    }
    .destaques__secundario:nth-child(5) {
        display: flex;
        grid-column: 3/3;
        grid-row: 3/3;
    }

    .destaques__categorias {
        grid-column: 1/3;
    }

    .populares__conteudo {
        flex-direction: row;
    }

    .populares__card {
        grid-template-rows: 173px auto;
        width: calc(50% - .5rem);
        margin-right: 1rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .populares__card:nth-child(2n) {
        margin-right: 0;
    }
}

@media screen and (min-width: 992px) {
    .populares__card {
        width: 33%;
        margin-right: .5%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px){
    .populares__card:nth-child(3n) {
        margin-right: 0;
    }
}

@media screen and (min-width: 1200px) {
    .populares__card {
        width: calc(20% - 1rem);
        margin-right: 1.25rem;
    }

    .populares__card:nth-child(5n) {
        margin-right: 0;
    }
}
