body {
    min-width: 360px;
}

.app {
    background: #f1f1f1;
    display: grid;  
    font-family: Arial, Helvetica, sans-serif;
    grid-template-areas:
        "cabecalho"
        "conteudo"
        "rodape";
    grid-auto-columns: auto;
    grid-template-rows: 50px auto auto;
}

.cabecalho {
    grid-area: cabecalho;
    display: flex;
    align-items: center;
    padding: 0 2rem;
}
 
.conteudo {
    grid-area: conteudo;
    padding: 0 2rem;
}

.rodape {
    grid-area: rodape;
    background: #fdfdfd;
    color: #333333;
    font-size: .8rem;
    padding: 1rem;
    text-align: center;
}
